.form__wrapper {
  padding-top: 150px;
}

.form {
  position: relative;
  margin: 0 auto;
  display: flex;
  width: 500px;
  flex-direction: column;
  gap: 25px;
  padding: 50px;
  border-radius: 40px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(40px) saturate(200%) brightness(120%);
  -webkit-backdrop-filter: blur(40px) saturate(200%) brightness(120%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 
    0 30px 60px rgba(0, 0, 0, 0.3),
    inset 0 0 20px rgba(255, 255, 255, 0.05);
}


.form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(
    180deg, 
    rgba(255, 255, 255, 0.15) 0%, 
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  background: rgba(0, 0, 0, 0.15);
  color: #000000;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 20px;
  border-radius: 15px;
  outline: none;
  backdrop-filter: blur(5px);
}

.btn {
  background-color: #2875da;
  color: #ffffff;
  font-weight: 600;
  padding: 18px;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #4893f5;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
  transform: scale(1.02);
}