.link {
  color: #ffffff;
  text-decoration: none;
  transition: 250ms color ease;
}

.link:hover {
  color: #c2c2c2;
}

.nav {
  margin-left: auto;
}

.menu {
  display: flex;
  gap: 20px;
  align-items: center;
}